@font-face {
	font-family: "Gilroy";
	src: url("../../fonts/Gilroy-Bold.woff2") format("woff2"), url("../../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../../fonts/Gilroy-Regular.woff2") format("woff2"), url("../../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy";
	src: url("../../fonts/Gilroy-Medium.woff2") format("woff2"), url("../../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body {
	line-height: 1;
}
button {
	cursor: pointer;
	background-color: transparent;
}
input,
button,
textarea {
	font-family: inherit;
}
/* ------------------ */

body {
	color: #fff;
	background-color: #111428;
	font-family: "Gilroy";
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
}

/* HEADER */

.header {
	width: 100%;
	max-height: 100px;
	box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.header__inner {
}

.logo {
	display: inline-block;
	margin: 0 60px 0 0;
}

a.logo__link {
	color: #fff;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	text-transform: uppercase;
}

/* MENU */

.header__menu {
	display: inline-block;
}

.header__list {
	font-size: 0;
	display: inline-block;
}

.header__list > li {
	position: relative;
	display: inline-block;
	margin: 0 26px 0 0;
	padding: 0 14px 0 0;
}

.header__link::after {
	position: absolute;
	content: "";
	top: 37px;
	right: 0;
	width: 12px;
	height: 12px;
	background: url(../../img/check-bottom.png) center/ 12px no-repeat;
}

.header__list > li:hover .header__sub-list {
	display: block;
}

.header__list > li:hover .header__link {
	color: #64b369;
}

.header__list:last-child {
	margin-right: 0;
}

.header__link {
	font-size: 18px;
	color: #fff;
	padding: 30px 0;
	display: inline-block;
}

.header__sub-list {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 150px;
	background-color: #337ab7;
	padding: 15px;
	display: none;
	border-radius: 5px;
}

.header__sub-list li {
	text-align: center;
}

.header__sub-link {
	font-size: 14px;
	color: #fff;
	padding: 10px;
	display: block;
}

.header__sub-link:hover {
	background-color: #64b369;
	border-radius: 5px;
}

a.header__sub-link:active {
	color: #2f5e86;
}

.header__form {
	display: inline-block;
	margin: 0 25px 0 0;
}

.header__input {
	width: 574px;
	height: 41px;
	padding: 20px 15px;
	background: #111428;
	border: 1px solid #a3a3a3;
	box-sizing: border-box;
	border-radius: 5px;
	outline: none;
	color: #fff;
}

.header__input:focus {
	box-shadow: 1px 1px 7px 4px #2f5e86;
}

.header__label {
	position: relative;
}

.header__label::after {
	position: absolute;
	content: "";
	top: 2px;
	right: 12px;
	width: 18px;
	height: 18px;
	background: url(../../img/search.png) center/ 18px no-repeat;
}

.header__like-link,
.header__avatar-link,
.header__check-link {
	vertical-align: middle;
	display: inline-block;
}

.header__like-link {
	margin-right: 15px;
}

/* MAIN */

/* RECOVERY */

.recovery {
	padding: 25px 0 0 0;
}

.recovery p {
	font-size: 14px;
	line-height: 16px;
	color: #a3a3a3;
	margin: 0 0 30px 0;
}

.recovery .title {
	font-weight: 700;
	font-size: 38px;
	line-height: 46px;
	text-align: center;
	margin: 0 0 10px 0;
}

.recovery__inner {
	max-width: 385px;
	margin: 0 auto;
	padding: 0 0 60px 0;
}

.recovery__label {
	display: block;
	font-size: 16px;
	line-height: 19px;
	color: #64b369;
	margin: 0 0 40px 0;
}

.input {
	width: 384px;
	height: 50px;
	background: #ffffff;
	border-radius: 5px;
	padding: 15px 20px;
	color: #777777;
	margin: 0 0 30px 0;
	outline: none;
}

.input:focus {
	box-shadow: 1px 1px 7px 4px #2f5e86;
}

a.recovery__link {
	display: block;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	margin: 0 0 30px 35px;
	position: relative;
}

a.recovery__link::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../img/arrow_left.png) 0 0 / 100% no-repeat;
	position: absolute;
	top: 0;
	left: -35px;
}

a.recovery__link:hover {
	color: #3e6c41;
}

a.recovery__link:active {
	color: #2f5e86;
}

.btn {
	width: 384px;
	height: 50px;
	background: #337ab7;
	border-radius: 5px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #fff;
	margin: 0 0 30px 0;
	outline: none;
}

.btn:hover {
	background-color: #2f5e86;
}

.recovery__inner p {
	max-width: 310px;
	font-size: 14px;
	line-height: 16px;
	color: #a3a3a3;
	margin: 0 0 30px 0;
}

.recovery__inner span {
	display: inline-block;
	margin: 0 10px 0 0;
	text-align: center;
}

a.form__link {
	color: #64b369;
}

a.form__link:hover {
	color: #3e6c41;
}

a.form__link:active {
	color: #2f5e86;
}

.help {
	text-align: center;
}

/* FOOTER */

.footer {
	margin: 0 0 100px 0;
}

.footer__inner {
	padding: 70px 0 0 0;
	border-top: 1px solid #fff;
	text-align: center;
}

.footer img {
	margin: 0 40px 60px 0;
	vertical-align: middle;
}

.footer span {
	display: inline-block;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 20px 0;
}

.contacts {
	text-align: center;
}

a.contacts__link {
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	margin: 0 20px 0 0;
}

a.contacts__link:last-chaild {
	margin: 0;
}

a.contacts__link:hover {
	color: #3e6c41;
}

a.contacts__link:active {
	color: #2f5e86;
}
